* {
  margin: 0;
  padding: 0;
  font-family: "Avenir-Next", "Roboto";
  font-size: 16px;
}
.navbar {
  font-family: sans-serif;
  padding-top: 10px;
  align-items: baseline;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.navbar img {
  height: 35px;
  padding-left: 20px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}
.navbar li {
  display: inline-block;
}
.navbar ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  color: grey;
  font-weight: 500;
}

.navbar .apply-btn {
  background-color: darkorange;
  align-items: center;
  border: none;
  color: white;
  padding: 5px 50px;
  cursor: pointer;
}

.container {
  padding: 60px;
  background-color: black;
  opacity: 0.8;
}
.home h1 {
  color: white;
  font-size: 90px;
  text-transform: uppercase;
}

.home h3 {
  color: white;
  font-size: 33px;
  margin-bottom: 20px;
}

.btn {
  width: 20%;
  background-color: #4992ca;
  padding: 15px 0;
  color: white;
  text-align: center;
}

.reg-btn {
  width: 20%;
  margin-top: 20px;
  border: solid white;
  padding: 15px 0;
  color: white;
  text-align: center;
}

.info-btn {
  background-color: white;
  border: none;
  width: 40%;
  padding: 15px 0;
  margin: 20px 0px;
  text-align: center;
  border-radius: 15px;
}

.info-btn span {
  font-weight: 900;
  padding-right: 10px;
}

.poster {
  padding: 50px 50px;
  background-color: #4992ca;
  color: white;

  font-family: "Avenir-Next", "Roboto", sans-serif;
  text-align: center;
}
.poster h1 {
  font-size: 44px;
  margin-bottom: 20px;
}

.poster h4 {
  margin-top: 20px;
  font-size: 30px;
}
.types {
  margin-top: 20px;
  align-items: center;

  display: flex;
}

.col i {
  margin-top: 20px;
  margin-bottom: 20px;
}
.col {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}
.statistics {
  padding: 50px 50px;

  text-align: center;
}

.statistics h1 {
  font-size: 45px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.stats div {
  font-size: 35px;
  font-weight: 600;
}

.stats_col {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 10px;
  padding: 10px;
}

.stats_col > span {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.stats_col > img {
  margin-top: 10px;
  width: 60%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.year {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}

.year > h1 {
  font-size: 45px;
}

.pok_about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.pok_about > img {
  width: 150px;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-right: 50px;
}
.pok_name_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pok_name_logo > h4 {
  font-size: 30px;
  color: grey;
  font-weight: 200;
}
.pok_name_logo > h6 {
  font-size: 18px;
  color: grey;
  font-weight: 100;
}
.pok_name_logo > img {
  margin-right: auto;
  margin-left: auto;
  height: 50px;
  width: 110px;
}

.pok_about > span {
  margin-left: 50px;
  font-size: 20px;
  color: grey;
  text-align: left;
}

.qa_section {
  background-color: #4992ca;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 60px 80px;
}

.qa_section > h2 {
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
}
.qa_section > h3 {
  font-size: 25px;
}
